.field-area{
    position: relative;
}
.field{
    position: relative;
}
.plFWD0{
    position: absolute;
    left: 270px;
    top: 80px;
    cursor: pointer;
    background: none;
    
}
.plMID4{
    position: absolute;
    left: 80px;
    top: 100px;
    cursor: pointer;
    background: none;
    
}
.plMID3{
    position: absolute;
    left: 460px;
    top: 100px;
    cursor: pointer;
    background: none;
    
}
.plMID2{
    position: absolute;
    left: 270px;
    top: 200px;
    cursor: pointer;
    background: none;
    
}
.plMID1{
    position: absolute;
    left: 160px;
    top: 240px;
    cursor: pointer;
    background: none;
    
}
.plMID0{
    position: absolute;
    left: 380px;
    top: 240px;
    cursor: pointer;
    background: none;
    
}
.plDEF3{
    position: absolute;
    left: 80px;
    top: 350px;
    cursor: pointer;
    background: none;
    
}
.plDEF2{
    position: absolute;
    left: 460px;
    top: 350px;
    cursor: pointer;
    background: none;
    
}
.plDEF1{
    position: absolute;
    left: 190px;
    top: 370px;
    cursor: pointer;
    background: none;
    
}
.plDEF0{
    position: absolute;
    left: 350px;
    top: 370px;
    cursor: pointer;
    background: none;
    
}
.plGKP0{
    position: absolute;
    left: 270px;
    top: 460px;
    cursor: pointer;
    background: none;
    
}
.plFWD1{
    position: absolute;
    left: 640px;
    top: 130px;
    cursor: pointer;
    background: none;
    
}
.plMID5{
    position: absolute;
    left: 640px;
    top: 240px;
    cursor: pointer;
    background: none;
    
}
.plDEF4{
    position: absolute;
    left: 640px;
    top: 350px;
    cursor: pointer;
    background: none;
    
}
.plGKP1{
    position: absolute;
    left: 640px;
    top: 460px;cursor: pointer;
    background: none;
    
}
.c_btn{
    position: absolute;
    left: 640px;
    top: 30px;
    width: 150px;
    font-size: 15px;
}
.vc_btn{
    position: absolute;
    left: 640px;
    top: 70px;
    width: 165px;
    font-size: 15px;
}
.cap{
    position: absolute;
    left:320px;
    top:465px;
    background-color: rgb(255, 217, 5);
    border: solid black;
    border-radius: 15px;
    text-align: center;
    width: 20px;
}