<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/updatedb">
        <input type="submit">
    </form>
    <label>Enter Player Name:</label>
    <br>
    <form action="/search" method="post">
        <input type="text" name="pname"></input>
        <br>
        <input type="submit" value="Search"></input>
    </form>
</body>
</html>